@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    background-color: #111;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}